button {
    width: 75px;
    height: 75px;
}
#body-container {
    width: 360px;
    height: 640px;
    background-color: #000000;
    border-radius: 5px;
    margin: auto;
}
#buttons-container {
    width: 100%;
    height: 600px;
    columns: 3;
    margin-top: 20%;
    margin-left: 4%;
}
#display {
    width: 100%;
    height: 67px;
    border-radius: 5px;
    background-color: #7b9e87;
    box-shadow: inset 0 10px 6px -6px #777;
    display: inline-block;
    font-family: 'Space Mono', monospace;
    margin-top: 5%;
}
#display-container {
    width: 340px;
    height: 40px;
    margin: auto;
}
#equals {
    background-color: #ff9500;
}
.btn {
    box-shadow: inset 0 10px 6px -6px #777;
    border-radius: 50%;
    font-family: 'Space Mono', monospace;
    font-size: 200%;
    outline: none;
    color: white;
    margin: 5%;
}
.number {
    background-color: #080705;
}
.operator {
    background-color: #788585;
}