button {
    width: 82px;
    height: 82px;
}
#body-container {
    width: 360px;
    height: 640px;
}
#buttons-container {
    width: 360px;
    height: 600px;
    columns: 3;
    margin-top: 5%;
}
#display {
    width: 292px;
    height: 67px;
}
#display-container {
    width: 340px;
    height: 40px;
    margin: 0 auto;
}
.btn {

}
.number {

}
.operator {

}