button {
    width: 82px;
    height: 82px;
}
#body-container {
    width: 360px;
    height: 640px;
}
#buttons-container {
    width: 100%;
    height: 600px;
    columns: 3;
    margin-top: 12%;
    margin-left: 4%;
}
#display {
    width: 100%;
    height: 67px;
    border-radius: 5px;
    background-color: #300924;
}
#display-container {
    width: 340px;
    height: 40px;
    margin: 0 auto;
}
.btn {
    font-size: 20px;
}
.number {

}
.operator {

}